# This file allows changes in specific paths to automatically request review from individuals.
# See https://help.github.com/articles/about-code-owners/ for details.

bouncy/* @nuclearsandwich
crystal/* @nuclearsandwich
dashing/* @nuclearsandwich
eloquent/* @mjcarroll
foxy/* @quarkytale
galactic/* @cottsay
indigo/* @tfoote
kinetic/* @tfoote
rolling/* @nuclearsandwich
rosdep/* @ros/rosdeputies
