---
version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
  # only notify on security updates and not version updates.
  open-pull-requests-limit: 0
