language: python
python:
  - "2.7"
# command to install dependencies
install:
  - easy_install -U pip
  - pip install PyYAML argparse
  - pip install rosdistro nose coverage
# command to run tests
script:
  - nosetests -s
notifications:
  email:
    on_success: never
    on_failure: always
branches:
  only:
      - master

