---
extends:
  default

rules:
  document-start:
    ignore: |
      releases/*.yaml
      rosdep/*.yaml
  indentation:
    spaces: consistent
    indent-sequences: false
  key-duplicates: enable
  line-length:
    max: 125
    allow-non-breakable-words: true
    ignore: |
      rosdep/*.yaml

ignore: |
  .venv
