---
extends:
  default

ignore: |
  .venv

rules:
  document-start:
    ignore: |
      releases/*.yaml
      rosdep/*.yaml
  indentation:
    indent-sequences: false
    spaces: consistent
  key-duplicates: enable
  key-ordering:
    ignore: |
      .github/
      test/rosdep_repo_check/config.yaml
  line-length:
    allow-non-breakable-words: true
    ignore: |
      rosdep/*.yaml
    max: 125
