argcomplete==3.1.4
catkin-pkg==1.0.0 # catkin-pkg-modules
cryptography==41.0.7
# dev==3.12.3
empy==3.3.4
flake8-blind-except==0.2.1
flake8-builtins==2.1.0
flake8-class-newline==1.6.0
flake8-comprehensions==3.14.0
flake8-deprecated==2.2.1
flake8-docstrings==1.6.0
flake8-import-order==0.18.2
flake8-quotes==3.4.0
flake8==7.0.0
importlib-metadata==4.12.0
lark==1.1.9
lxml==5.2.1
# minimal==3.12.3
mypy==1.9.0
numpy==1.26.4
packaging==24.0
psutil==5.9.8
pycodestyle==2.11.1
pytest-mock==3.12.0
pytest-timeout==2.2.0
pytest==7.4.4
# rosdistro-modules==1.0.1
setuptools==68.1.2
typing-extensions==4.10.0
vcstool==0.3.0
pyyaml==6.0.1 #yaml
urllib3==2.5.0
GitPython==3.1.45